html{
    /* border-radius: 32px;
    border: 1px solid rgba(0, 0, 0, 0.12); */
    background: #A7C6CD;
}

#t{
    height: 75px;
    flex-shrink: 0;
    color: #332B2B;
    text-align: left;
    font-family: Arapey;
    font-size: 46px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 65px; /* 37.5% */
    letter-spacing: -1.216px;
    margin-top: 20px;
}

.btn {
    left: 100px; 
    top: 20px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 25px; 
    font-family: Arapey; 
    font-weight: 400; 
    line-height: 24px; 
    word-wrap: break-word;
    width: 250px;
    height: 60px;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.12); 
    background: #95BCCC;
    margin-left: 900px;
} 
